### ekf config file ###
robot_localization:
  ros__parameters:
    frequency: 30.0
    two_d_mode: false
    publish_acceleration: false
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    odom0: /odometry
    odom0_config: [true, true, true,
                   true, true, true,
                   true, true, true,
                   true, true, true,
                   false, false, false]

    imu0: /imu
    imu0_config: [false, false, false,
                  true,  true,  true,
                  false, false, false,
                  true,  true,  true,
                  false, false, false]
