### ekf config file ###
robot_localization:
    ros__parameters:
        frequency: 30.0
        two_d_mode: true
        publish_acceleration: false
        publish_tf: true
        map_frame: map
        odom_frame: odom
        base_link_frame: base_link
        world_frame: odom

        odom0: odometry
        odom0_config: [false, false, false,
                      false, false, false,
                      true, true, false,
                      false, false, true,
                      false, false, false]

        imu0: imu
        imu0_config: [false, false, false,
                      false, false, false,
                      false, false, false,
                      false, false, true,
                      false, false, false]

        odom1: /X3/odometry
        odom1_config: [true,  true,  true,
                    false, false, false,
                    false, false, false,
                    false, false, true,
                    false, false, false]
        odom1_queue_size: 10

        imu1: /X3/imu
        imu1_config: [false, false, false,
                    true,  true,  true,
                    false, false, false,
                    false, false, false,
                    true,  true,  true]
        imu1_queue_size: 50
        imu1_remove_gravitational_acceleration: true

        # Optional smoothing
        transform_time_offset: 0.0
        transform_timeout: 0.1